*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Baloo Bhai 2', cursive;
}

:root{
    /* ======= Colors ======= */
    --body-color: #E4E9F7;
    --sidebar-color: #fff;
    --primary-color: #695CFE;
    --primary-color-light: #dedaff;
    --toggle-color: rgb(201, 201, 201);
    --text-color: black;

    /* main-section colors */
    --post-bg-color: lightgray;
    
    /* =======Transitions=======*/
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

body{
    height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

body.dark{
    --body-color: #18191A;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #FFF;
    --text-color: #ccc;
}

/* =======Sidebar======= */
.sidebar{
    top: 0;
    left: 0;
    position: fixed;
    height: 100%;
    width: 20vw;
    background-color: var(--sidebar-color);
    transition: var(--tran-05);
    padding: 10px 14px;
}

.sidebar .logo-text .webname{
    font-size: 1.5rem;
    font-weight: 600;
}

.sidebar .image-text img{
    width: 40px;
    border-radius: 10px;
}

.sidebar .image{
    min-width: 60px;
    display: flex;
    align-items: center;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}

.sidebar .text{
    font-size: 20px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-05);
}

.sidebar li{
    list-style: none;
    height: 50px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.sidebar li .sidebar-text, .sidebar li .bi{
    font-size: 20px;
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar li .bi{
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-size: 25px; */
}

.sidebar li a{
    text-decoration: none;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 10px;
    transition: var(--tran-03);
}

.sidebar li a:hover{
    background-color: var(--primary-color);
}

.sidebar li a:hover .bi,
.sidebar li a:hover .text{
    color:white;
}

.sidebar .sidebar-menu{
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-menu .mode{
    background-color: var(--primary-color-light);
    transition: var(--tran-05);
}

.sidebar-menu .mode .moon-sun{
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
}

.sidebar-menu .mode i{
    position: absolute;
    transition: var(--tran-03);
}

.sidebar-menu .mode i.sun{
    opacity: 0;
}

body.dark .sidebar-menu .mode i.sun{
    opacity: 1;
}

body.dark .sidebar-menu .mode i.moon{
    opacity: 0;
}

.sidebar-menu .mode .toggle-switch{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 60px;
    cursor: pointer;
}

.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 44px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-03);
}

body.dark .switch::before{
    left: 24px;
}

/* =======Center  section CSS =======*/

.main-section{
    position: absolute;
    top: 0px;
    left: 25vw;
    height: 100vh;
    width: calc(100% - 25vw);
    transition: var(--tran-05);
}

body.dark .main-section{
    color: var(--text-color);
}

.main-section .heading{
    font-size: 2rem;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 600;
    transition: var(--tran-05);
}

.main-section .top{
    margin-top: 25px;
}


.askbar{
    /* position: absolute; */
    padding: 10px;
    width: 700px;
    height: 300px;
    display: flex;
    flex-direction: column;
    background-color: var(--post-bg-color);
    border: 1px solid gray;
    border-radius: 10px;
    transition: var(--tran-05);
}

body.dark .askbar{
    background-color: var(--body-color);
}

.top .askbar .username{
    display: flex;
    /* background-color: red; */
    align-items: center;
}

.top .askbar .username .acc-name{
    font-size: 20px;
    /* padding-bottom: 0%; */
}

.askbar .textarea-text{
    margin-top: 10px;
}

.top .askbar .bi{
    margin-right: 10px;
    /* border: 1px solid black; */
    font-size: 38px;
    display: flex;;

}
#input{
    width: 100%;
    padding: 10px 20px;
    /* margin-bottom: -40px; */
}

.post-btn{
    background-color: var(--primary-color);
    color: var(--text-color);
    width: 100px;
    border-radius: 30px;
    align-self: flex-end;
    margin: 10px 0px;
    transition: var(--tran-05);
}

.post-btn:hover{
    color: white;
}

/* ======= POSTS SECTION =======*/
.posts-section{
    position: absolute;
    left: 25vw;
    top: calc(100% - 262px);
    /* padding: 10px; */
    width: 700px;
    /* height: 300px; */
    /* background-color: var(--post-bg-color); */
    /* border: 1px solid gray; */
    border-radius: 10px;
    transition: var(--tran-05);

    display: flex;
    flex-direction: column;
}

body.dark .posts-section{
    background-color: var(--body-color);
    color: var(--text-color);
}


.posts-section .posts{
    width: 700px;
    height: 300px;
    background-color: var(--post-bg-color);
    border: 1px solid gray;
    border-radius: 10px;
    transition: var(--tran-05);
    margin-bottom: 25px;
    padding: 10px;
}

body.dark .posts-section .posts{
    background-color: var(--body-color);
    color: var(--text-color);
}