*{
    margin: 0%;
    padding: 0%;
    font-family: 'Baloo Bhai 2', cursive;
}

.sidebar li a,.sidebar li, .sidebar-text{
    list-style: none;
    text-decoration: none;
    color: black;
}

.sidebar{
    background-color:#695CFE;
    height: 100vh;
    width: 20vw;
    position: fixed;
    border-right: 2px solid black;
}

.sidebar li{
    border-radius: 30px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 9px 0px;
}

.sidebar-item:hover{
    background-color:#9288f8;
    
}

.askbar{
    position: absolute;
    top: 35px;
    left: 284px;

    background-color: yellowgreen;
    width: 700px;
    height: 200px;
    display:flex;
    flex-direction: column;
}

#input{
    width: 100%;
    padding: 10px 20px;
    /* height: 100px; */
}

.btn{
    color: #695CFE;
}